<!-- Edit pupil data / new pupil (Admin only) -->
{% extends "base.html" %}

{% set uplink = url_for('bp_pupildata.pupil', klass=klass) %}
{% set uplink_help = "Schüler/in wählen" %}

{% block title %}
    Klasse {{ klass }}
{% endblock %}

{% block content %}
    <h3>
    {% if pdata %}{{ pdata.name() }}
    {% else %}Neue Schülerin / neuer Schüler
    {% endif %}
    </h3>

    {% if pdata %}
    <div class="pure-menu">
        <ul class="pure-menu-list">
            <li class="pure-menu-item">
                <a href="{{ url_for('bp_pupildata.change_class', pid=pdata.PID) }}"
                        class="pure-menu-link">
                    Klasse ändern
                </a>
            </li>
<!-- Perhaps there should be no delete function. When a pupil leaves,
the exit date is stored, and the pupil will not be migrated to the
next year.
If a pupil should not appear in lists, reports, etc. there could be a
special flag to indicate this?
Actually that could apply to teachers as well? -->
            <li class="pure-menu-item">
                <a href="{{ url_for('bp_pupildata.delete', pid=pdata.PID) }}"
                        class="pure-menu-link">
                    Diese Person aus der Datenbank entfernen [???]
                </a>
            </li>
        </ul>
    </div>
    <hr>

    <p>Hier können Sie einzelne Felder ändern.
    Klicken Sie dann auf „Speichern“, um die Änderung(en) zu
    übernehmen.
    </p>
    {% else %}
    <p>Um eine neue Schülerin bzw. einen neuen Schüler anzumelden, füllen
    Sie die Felder aus. Klicken Sie dann auf „Speichern“,
    um die Eingaben zu übernehmen.
    </p>
    <p>Das Feld „Rufname“ dürfen Sie leer lassen. Dann werden die
    „Vornamen“ auch als Rufnamen benutzt werden.</p>
    {% endif %}

    <form class="pure-form pure-form-aligned" method="POST">
        {{ form.csrf_token }}

        <fieldset>
          {% if not pdata %}
<!-- TODO: Shouldn't pid be automatic? -->
            <div class="pure-control-group">
                <label for="pid">Schülernummer</label>
                <input type="text" id="pid" name ="PID"
                        placeholder="123456"
                    required>
            </div>
          {% endif %}
            <div class="pure-control-group">
                <label for="stream">{{ fieldnames.STREAM }}</label>
                <select id="stream" name="STREAM">
                {% for s in streams %}
                    <option {% if s == pdata.STREAM %}selected{% endif %}>
                        {{ s }}
                    </option>
                {% endfor %}
                </select>
            </div>
            <div class="pure-control-group">
                <label for="name1">{{ fieldnames.FIRSTNAMES }}</label>
                <input type="text" id="name1" name ="FIRSTNAMES"
                        placeholder="Hans Jürgen" value="{{ pdata.FIRSTNAMES }}"
                    required>
            </div>
            <div class="pure-control-group">
                <label for="name2">{{ fieldnames.LASTNAME }}</label>
                <input type="text" id="name2" name ="LASTNAME"
                        placeholder="Müller" value="{{ pdata.LASTNAME }}"
                    required>
            </div>
            <div class="pure-control-group">
                <label for="name0">{{ fieldnames.FIRSTNAME }}</label>
                <input type="text" id="name0" name ="FIRSTNAME"
                        placeholder="Hans" value="{{ pdata.FIRSTNAME }}"
                    >   <!-- not "required", may be empty -->
            </div>
            <div class="pure-control-group">
                <label for="dob">{{ fieldnames.DOB_D }}</label>
                <input type="date" id="dob" name ="DOB_D"
                        value="{{ pdata.DOB_D }}"
                    required>
            </div>
            <div class="pure-control-group">
                <label for="pob">{{ fieldnames.POB }}</label>
                <input type="text" id="pob" name ="POB"
                        placeholder="Hamburg" value="{{ pdata.POB }}"
                    required>
            </div>
            <div class="pure-control-group">
                <label for="sex">{{ fieldnames.SEX }}</label>
                <select id="sex" name="SEX">
                {% for s in ('m', 'w') %}
                    <option {% if s == pdata.SEX %}selected{% endif %}>
                        {{ s }}
                    </option>
                {% endfor %}
                </select>
            </div>
            <div class="pure-control-group">
                <label for="home">{{ fieldnames.HOME }}</label>
                <input type="text" id="home" name ="HOME"
                        placeholder="Hannover" value="{{ pdata.HOME }}"
                    required>
            </div>
            <div class="pure-control-group">
                <label for="entry">{{ fieldnames.ENTRY_D }}</label>
                <input type="date" id="entry" name ="ENTRY_D"
                        value="{{ pdata.ENTRY_D }}"
                    required>
            </div>
          {% if pdata %} <!-- Schulaustritt ... not for new pupils! -->
            <div class="pure-control-group">
                <label for="exit">{{ fieldnames.EXIT_D }}</label>
                <input type="date" id="exit" name ="EXIT_D"
                        value="{{ pdata.EXIT_D }}"
                    >   <!-- not "required", may be empty -->
            </div>
          {% endif %}
        </fieldset>
        <fieldset>
          {% for field, fname, fdesc, value, values in xfields %}
            <legend>{{ fname }}</legend>
            {% if fdesc %}
            <p>{{ fdesc }}</p>
            {% endif %}
            <div class="pure-control-group">
                <label for="{{ field }}">{{ field }}</label>
              {% if field.endswith('_D') %}
                <input type="date" id="{{ field }}" name="{{ field }}"
                        value="{{ value }}">
              {% elif values %}
                <select id="{{ field }}" name="{{ field }}">
                {% for s in values %}
                    <option {% if s == value %}selected{% endif %}>
                        {{ s }}
                    </option>
                {% endfor %}
                </select>
              {% else %}
                <input type="text" id="{{ field }}" name="{{ field }}"
                        value="{{ value }}">
              {% endif %}
            </div>
          {% endfor %}
        </fieldset>

        <hr>
        <button type="submit"
                class="pure-button submit-button"
                style="margin: 0.5rem 1rem;">
            Speichern
        </button>
    </form>
{% endblock %}
