{% extends "base.html" %}
{% set uplink = url_for('bp_settings.index') %}
{% set uplink_help = "Einstellungen" %}

{% block title %}Neues Schuljahr einrichten{% endblock %}

{% block content %}
    <p>Um die Einrichtung eines neuen Schuljahrs zu vereinfachen, können
    manche Daten vom letzten Jahr übernommen werden.
    </p>
    <p>Aktuell unterstützt ist die automatische Versetzung der Schüler
    in die nächst höhere Klasse.
    </p>

    <form class="pure-form pure-form-aligned" method="POST">
        {{ form.csrf_token }}

        {% if dbexists %}
        <p>Es gibt schon Daten für {{ year }}. Um diese zu überschreiben,
        muss das Kästchen angekreuzt werden:</p>
        <div class="form-group">
            <input id="OVERWRITE" name="OVERWRITE" type="checkbox">
            <label for="OVERWRITE">Daten für {{ year }} überschreiben</label>
<!-- Link to single report page, with term preset? -->
        </div>
        {% endif %}

        <p>Das Datum des ersten Schultags wird für den Eintritt in die
        Qualifikationsphase benötigt (11.Gym -> 12.Gym):
        </p>
        <div class="pure-control-group">
            <label for="DAY1_D">Erster Schultag</label>
            <input id="DAY1_D" name="DAY1_D" type="date" value="{{ DAY1_D }}"
                    min="{{ MIN_D }}" max="{{ MAX_D }}" required>
        </div>

        <button type="submit"
                class="pure-button submit-button"
                style="margin: 0.5rem 1rem;">
            Neues Jahr anlegen
        </button>
    </form>
{% endblock %}
