{% extends "base.html" %}
{% set uplink = url_for('bp_settings.index') %}
{% set uplink_help = "Einstellungen" %}

{% block title %}aktualisierte Schülerdaten{% endblock %}

{% block content %}
    <p>Die folgenden Aktualisierungen wurden übernommen:
    </p>

    <ul>
    {% for k, clist in changes %}
        <li><h3>Klasse {{ k }}</h3>
            <ul>
            {% for change in clist %}
                <li>{{change}}</li>
            {% endfor %}
            </ul>
        </li>
    {% endfor %}
    </ul>
{% endblock %}
