{% extends "base.html" %}
{% set uplink = url_for('bp_settings.index') %}
{% set uplink_help = "Einstellungen" %}

{% block title %}Schülerdaten aktualisieren{% endblock %}

{% block content %}
    <p>Sie können hier die Aktualisierungen wählen, die übernommen werden.
    </p>

    <form id="dataform" class="pure-form" method="POST">
        {{ form.csrf_token }}

        {% for change in changes %}
        <div class="form-group">
            <input name="Change" type="checkbox" value="{{loop.index0}}" checked>
            <span class="menu-item">{{change}}</span>
        </div>
        {% endfor %}

        <hr>
        <button type="submit" class="pure-button submit-button"
                style="margin: 0.5rem 1rem;">Aktualisieren</button>
    </form>
{% endblock %}
