{% extends "base.html" %}
{% set uplink = url_for('bp_settings.index') %}
{% set uplink_help = "Einstellungen" %}

{% block title %}Schülerdaten einlesen{% endblock %}

{% block content %}
    <p>Selektieren Sie hier die Datei (Schülertabelle) zum Einlesen.
    </p>
    <form class="pure-form pure-form-stacked" method="POST" enctype="multipart/form-data">
        {{ form.csrf_token }}

        <div class="uploaddiv">
            {{ form.upload.label }}{{ form.upload }}
        </div>
        <hr />
        <div class="formsubmit">
            <button type="submit" class="pure-button pure-button-primary">Einlesen</button>
        </div>
    </form>
{% endblock %}
