<!-- Choose teacher (Admin only) -->
{% extends "base.html" %}
{% set uplink = url_for('bp_teacherdata.index_s') %}
{% set uplink_help = "Lehrkräfte" %}

{% block title %}Lehrkraft wählen{% endblock %}

{% block content %}
    <div class="pure-menu">
        <ul class="pure-menu-list">
        {% for tid, tname in tlist %}
            <li class="pure-menu-item">
                <a href="{{ url_for('bp_teacherdata.edit', tid=tid) }}"
                        class="pure-menu-link">
                    {{ tname }}
                </a>
            </li>
        {% endfor %}
        </ul>
    </div>
{% endblock %}
