<!-- Manage teacher data -->
{% extends "base.html" %}
{% set uplink = url_for('bp_settings.index') %}
{% set uplink_help = "Einstellungen" %}

{% block title %}Lehrkräfte Verwalten{% endblock %}


{% block content %}
    <p>Wählen Sie eine Funktion:
    </p>
    <ul class="modules">
<!-- TODO: missing page to select teacher -->
        <li><a class="pure-menu-link"
                href="{{ url_for('bp_teacherdata.choose') }}">
            <span>Daten einer Lehrkraft ändern</span>
        </a></li>
        <li><a class="pure-menu-link"
                href="{{ url_for('bp_teacherdata.new') }}">
            <span>Neue Lehrkraft eingeben</span>
        </a></li>
        <li><a class="pure-menu-link"
                href="{{ url_for('bp_teacherdata.export') }}">
            <span>Lehrerdaten als xlsx-Tabelle erstellen</span>
        </a></li>
        <li><a class="pure-menu-link"
                href="{{ url_for('bp_teacherdata.upload') }}">
            <span>Lehrerdaten von einer Tabelle aktualisieren</span>
        </a></li>
    </ul>
{% endblock %}
