{% extends "base.html" %}
{% set uplink = url_for('bp_grades.index') %}
{% set uplink_help = "Startseite" %}

{% block title %}Abgabetermin{% endblock %}

{% block content %}
    <form class="pure-form pure-form-aligned widelabel" method="POST">
        {{ form.csrf_token }}
        <fieldset>
            <legend>Aktuelles Halbjahr</legend>
            <p>Um die Eingabe der Noten durch unprivilegierte Benutzer zu
            ermöglichen, müssen sowohl das Halbjahr als auch der Abgabetermin
            gesetzt werden. Der Termin wird allerdings nicht vom Programm
            kontrolliert: Um Eingaben zu sperren, muss das Halbjahr auf
            „–“ gesetzt werden!</p>
            <div class="pure-control-group">
                {{ form.TERM.label }}{{ form.TERM }}
            </div>
            <div class="pure-control-group">
                {{ form.GRADES_CLOSING_D.label }}{{ form.GRADES_CLOSING_D }}
            </div>
            <hr />
            <button type="submit" class="pure-button submit-button"
                    style="margin: 0;">
                Übernehmen
            </button>
        </fieldset>
    </form>
{% endblock %}
