{% extends "base.html" %}
{% set uplink = url_for('bp_grades.issue_dates') %}
{% set uplink_help = "Ausstellungsdatum" %}

{% block title %}{{ termn }}. Halbjahr{% endblock %}

{% block content %}
    <h3>Sperrung bestätigen
    </h3>
    <p>Sind Sie wirklich sicher, dass Sie für folgende Klassen das
    Halbjahr abschließen wollen? Das Ausstellungsdatum und ggf. das
    Konferenzdatum können dann nur über die Einzelzeugnisse geändert
    werden.</p>
    <p>Einzelne Klassen können abgewählt werden.
    </p>

    <form class="pure-form" method="POST">
        {{ form.csrf_token }}

        {% for ks in klasses %}
        <div class="form-group">
            <input name="locks" type="checkbox" value="{{ks}}" checked>
            <span class="menu-item">Klasse {{ks}}</span>
        </div>
        {% endfor %}

        <button type="submit" name="action" value="lock"
                class="pure-button submit-button"
                style="margin: 0.5rem 1rem;">
            Sperren
        </button>
        <button type="submit" name="action" value="cancel"
                class="pure-button submit-button"
                style="margin: 0.5rem 1rem;">
            Abbrechen
        </button>
    </form>
{% endblock %}
