{% extends "base.html" %}
{% set uplink = url_for('bp_grades.pupils', klass=klass.klass) %}
{% set uplink_help = "Klasse " + klass.klass %}

{% block title %}Einzelschüler{% endblock %}

{% block content %}
    <h3>Noten für {{ pdata.name() }}, Klasse {{ klass }}</h3>
    <p>Die Noten für das Zeugnis am angezeigten Datum können hier
    bearbeitet werden. Auch die Pflichtzeugnisse (zum Halbjahr) können
    bearbeitet werden, dies könnte aber dazu führen, dass das Zeugnis
    nicht mehr mit der Gruppe erstellt werden kann (insbesondere wenn
    der Zeugnistyp geändert wird).
    <p>Der Zeugnistyp kann aus der Liste der zulässigen Vorlagen
    ausgewählt werden.
    </p>
    <p>Die Änderungen können dann gespeichert werden. Es gibt aber auch
    eine Schaltfläche, um das Zeugnis direkt zu erstellen (was eine
    Speicherung der Änderungen einschließt).
    </p>

    <form class="pure-form pure-form-aligned widelabel" method="POST">
        {{ form.csrf_token }}

        <fieldset>
        {% if termn %}
            <legend>{{ termn }}. Halbjahr</legend>
            {% if pdata.TERM0 == termn %}
                <p>Das Ausstellungsdatum der Gruppe
                ( {{pdata.DATE_D0 or '–––'}} ) wird dann benutzt,
                wenn das individuelle Datum auf null gesetzt wird.
                Um das Gruppendatum zu ändern, gehen Sie
                <a href="{{url_for('bp_grades.issue_dates')}}">
                    zur entsprechenden Seite
                </a>.
                </p>

            {% endif %}
        {% endif %}
            <div class="pure-control-group">
                <label for="DATE_D">Ausstellungsdatum</label>
                <input id="DATE_D" name="DATE_D" type="date"
                value="{{pdata.DATE_D}}">
            </div>
        {% if pdata.GDATE %}
            <p>Für manche Zeugnisse (Versetzungen in der Qualifikationsphase)
                ist auch das Datum der Notenkonferenz erforderlich.
                Das Konferenzdatum der Gruppe
                ( {{pdata.GDATE_D0 or '–––'}} ) wird dann benutzt,
                wenn das individuelle Datum auf null gesetzt wird.
                Um das Gruppendatum zu ändern, gehen Sie
                <a href="{{url_for('bp_grades.grade_dates')}}">
                    zur entsprechenden Seite
                </a>.
            </p>
            <div class="pure-control-group">
                <label for="GDATE_D">Ausstellungsdatum</label>
                <input id="GDATE_D" name="GDATE_D" type="date"
                value="{{pdata.GDATE_D}}">
            </div>
        {% endif %}
            <div class="pure-control-group">
                <label for="rtype">Zeugnistyp</label>
                <select id="rtype">
                {% for rtype in pdata.RTYPES %}
                    <option {% if rtype == pdata.RTYPE %}selected{% endif %}>
                        {{ rtype }}
                    </option>
                {% endfor %}
                </select>
            </div>
        </fieldset>

        <fieldset>
            <legend>Noten</legend>
        {% for s, g0 in subjects %}
            <div class="pure-control-group">
                <label for="k">{{ s }}</label>
                <select id="k">
                {% for g in pdata.VALIDGRADES %}
                    <option {% if g == g0 %}selected{% endif %}>
                        {{ g0 }}
                    </option>
                {% endfor %}
                </select>
            </div>
        {% endfor %}
        </fieldset>

        <legend>Bemerkungen</legend>
        <textarea id="REMARKS"></textarea>

        <hr />
        <button type="submit" name="action" value="update"
                class="pure-button submit-button"
                style="margin: 0.5rem 1rem;">nur Speichern</button>
        <button type="submit" name="action" value="build"
                class="pure-button submit-button"
                style="margin: 0.5rem 1rem;">Erstellen</button>
    </form>
{% endblock %}
