{% extends "base.html" %}
{% set uplink = url_for('bp_grades.index') %}
{% set uplink_help = "Startseite" %}

{% block title %}{{ termn }}. Halbjahr{% endblock %}

{% block content %}
    <p>Konferenzdatum setzen / erlaube Noteneingaben
    </p>

    <form class="pure-form pure-form-aligned" method="POST">
        {{ form.csrf_token }}

        <fieldset>
            {% for ks in klasses %}
            {% set i = loop.index0 %}
            <legend>Klasse {{ ks }}</legend>
            <div class="pure-control-group">
                {% set f = form['DOK_%02d' % i] %}
                <label for="{{ f.id }}">Konferenzdatum</label>
                {{ f }}
            </div>
            <div class="pure-control-group">
                {% set f = form['OPEN_%02d' % i] %}
                <label for="{{ f.id }}">Noteneingabe</label>
                {{ f }}
            </div>
            {% if i == 0 %}
            <button type="submit" name="action" value="all"
                    class="pure-button submit-button"
                    style="margin: 0.5rem 1rem;">für alle Klassen übernehmen</button>
            <hr />
            {% endif %}
            {% endfor %}
        </fieldset>

        <hr />
        <button type="submit" name="action" value="update"
                class="pure-button submit-button"
                style="margin: 0.5rem 1rem;">Übernehmen</button>
    </form>
{% endblock %}
