{% extends "base.html" %}
{% set uplink = url_for('bp_grades.index') %}
{% set uplink_help = "Startseite" %}

{% block title %}{{ termn }}. Halbjahr{% endblock %}

{% block content %}
    <h3>Konferenzdatum setzen / erlaube Noteneingaben
    </h3>
    <p>Jeder Zeugnisgruppe kann unabhängig von den anderen ein Datum für
    die Notenkonferenz zugeordnet werden. Auch für jede Gruppe kann
    man die Noteneingabe sperren.
    </p>
    <p>Einzelne Gruppen können aber auch vollständig „gesperrt“ sein,
    sodass auch das Datum nicht mehr geändert werden kann. Die Sperrung
    wird bei der
    <a href="{{url_for('bp_grades.issue_dates')}}">
        Verwaltung des Ausstellungsdatums
    </a> geregelt.
    Außerhalb des „aktuellen“ Halbjahres sind alle Gruppen so gesperrt.
    </p>

    <form class="pure-form pure-form-aligned" method="POST">
        {{ form.csrf_token }}

        <hr>
        <p>Hier kann das Datum für alle nicht gesperrten Gruppen gesetzt
        werden:
        </p>
        <div class="pure-control-group">
            <label for="ALL_D">Konferenzdatum</label>
            <input id="ALL_D" name="ALL_D" type="date"
                    min="{{ MIN_D }}" max="{{ MAX_D }}">
        </div>
        <button type="submit" name="action" value="all"
                class="pure-button submit-button"
                style="margin: 0.5rem 1rem;">
            für alle Gruppen übernehmen
        </button>
        <hr>

        <fieldset>
        {% for ks in klasses %}
            {% set locked = form.locked[ks] %}
            <legend>Klasse {{ ks }}</legend>
            <div class="pure-control-group">
                <label for="{{ ks }}">Konferenzdatum</label>
                <input id="{{ ks }}" name="{{ ks }}" type="date"
                        min="{{ MIN_D }}" max="{{ MAX_D }}"
                        value="{{ form.default[ks] }}"
                        {% if locked == 0 %}readonly{% endif %}>
            </div>
            <div class="pure-control-group">
            {% set l = 'L_' + ks %}
                <label for="{{ l }}">Noteneingabe</label>
                <input id="{{ l }}" name="{{ l }}" type="checkbox"
                {% if locked == 2 %}checked{% endif %}
                {% if locked == 0 %}disabled{% endif %}>
            </div>
        {% endfor %}
        </fieldset>

        <hr />
        <button type="submit" name="action" value="update"
                class="pure-button submit-button"
                style="margin: 0.5rem 1rem;">
            Übernehmen
        </button>
    </form>
{% endblock %}
