{% extends "base.html" %}
{% set uplink = url_for('bp_grades.index') %}
{% set uplink_help = "Notenzeugnisse: Startseite" %}

{% block title %}{{termn}}. Halbjahr{% endblock %}

{% block content %}
    {% if dfile %}
    <p>Hier können Sie die Notentabelle herunterladen:</p>
    <a href="{{url_for('download', dfile=dfile)}}">{{dfile}}</a>
    <hr />
    {% endif %}

    <p>Dieses ist {% if termn != term0 %}nicht{% endif %}
    das „aktuelle“ Halbjahr.
    </p>
    <p>Hier können Sie das andere Halbjahr wählen:
    </p>
    {% set hj = '2' if termn == '1' else '1' %}
    <a href="{{url_for('bp_grades.grade_tables', termn=hj)}}">
        ↪ {{ hj }}. Halbjahr
    </a>
    <hr />

    {% if termn == term0 %}
    <h2>Konferenzdatum festlegen</h2>
    <p>Um Notentabellen für das „aktuelle“ Halbjahr zu erstellen, muss
    das Datum der Notenkonferenz angegeben werden. Das aktuelle Datum
    steht in Klammern hinter dem Klassennamen in der Liste unten.
    Dieses Datum kann man
    <a href="{{url_for('bp_grades.issue_dates')}}">hier setzen</a>.
    </p>
    {% endif %}

    <h2>Notentabelle erstellen</h2>
    <p>Wählen Sie hier die Klasse/Gruppe, für die die Tabelle zu
    erstellen ist.
    </p>
    <div class="pure-menu">
        <ul class="pure-menu-list">
        {% for ks, date in klasses %}
            <li class="pure-menu-item">
                <a class="pure-menu-link" href=
                {% if date %}
                    "{{url_for('bp_grades.grade_tables', termn=termn, ks=ks)}}">
                    Klasse/Gruppe {{ ks }}
                        {% if termn == term0 %}( {{ date }} ){% endif %}
                {% else %}
                    "{{url_for('bp_grades.grade_dates')}}">
                    Klasse/Gruppe {{ ks }} ( ––– )
                {% endif %}
                </a>
            </li>
        {% endfor %}
        </ul>
    </div>
{% endblock %}
