{% extends "base.html" %}
{% set uplink = url_for('bp_grades.index') %}
{% set uplink_help = "Startseite" %}

{% block title %}{{ termn }}. Halbjahr{% endblock %}

{% block content %}
    <h3>Konferenzdatum setzen / erlaube Noteneingaben
    </h3>
    <p>Jeder Zeugnisgruppe kann unabhängig von den anderen ein Datum für
    die Notenkonferenz zugeordnet werden. Auch für jede Gruppe kann
    man die Noteneingabe sperren.
    </p>
    <p>Einzelne Gruppen können aber auch vollständig „gesperrt“ sein,
    sodass auch das Datum nicht mehr geändert werden kann. Die Sperrung
    wird bei der (TODO)
    <a href="">Verwaltung des „aktuellen“ Halbjahres
    </a> geregelt.
    Außerhalb des „aktuellen“ Halbjahres sind alle Gruppen so gesperrt.
    </p>

    <form class="pure-form pure-form-aligned" method="POST">
        {{ form.csrf_token }}

        <hr>
        <p>Hier kann das Datum für alle nicht gesperrten Gruppen gesetzt
        werden:
        </p>
        <div class="pure-control-group">
            <label for="{{ form.ALL_D.id }}">Konferenzdatum</label>
            {{ form.ALL_D }}
        </div>
        <button type="submit" name="action" value="all"
                class="pure-button submit-button"
                style="margin: 0.5rem 1rem;">
            für alle Gruppen übernehmen
        </button>
        <hr>

        <fieldset>
            {% for ks in klasses %}
            {% set i = loop.index0 %}
            <legend>Klasse {{ ks }}</legend>
            <div class="pure-control-group">
                {% set f = form['DOK_%02d' % i] %}
                <label for="{{ f.id }}">Konferenzdatum</label>
                {{ f }}
            </div>
            <div class="pure-control-group">
                {% set f = form['OPEN_%02d' % i] %}
                <label for="{{ f.id }}">Noteneingabe</label>
                {{ f }}
            </div>
            {% endfor %}
        </fieldset>

        <hr />
        <button type="submit" name="action" value="update"
                class="pure-button submit-button"
                style="margin: 0.5rem 1rem;">
            Übernehmen
        </button>
    </form>
{% endblock %}
