{% extends "base.html" %}
{% set uplink = url_for('bp_grades.pupils', klass=klass.klass) %}
{% set uplink_help = "Klasse " + klass.klass %}

{% block title %}Einzelschüler{% endblock %}

{% block content %}
    <h3>Noten für {{ pdata.name() }}, Klasse {{ klass }}</h3>
    <p>Die Noten für das Zeugnis am angezeigten Datum können hier
    bearbeitet werden. Auch die Pflichtzeugnisse (zum Halbjahr) können
    bearbeitet werden, dies könnte aber dazu führen, dass das Zeugnis
    nicht mehr mit der Gruppe erstellt werden kann (insbesondere wenn
    der Zeugnistyp geändert wird).
    <p>Der Zeugnistyp kann aus der Liste der zulässigen Vorlagen
    ausgewählt werden.
    </p>
    <p>Die Änderungen können dann gespeichert werden. Es gibt aber auch
    eine Schaltfläche, um das Zeugnis direkt zu erstellen (was eine
    Speicherung der Änderungen einschließt).
    </p>

    <form class="pure-form pure-form-aligned widelabel" method="POST">
        {{ form.csrf_token }}

        <fieldset>
        {% if termn %}
            <legend>{{ termn }}. Halbjahr</legend>
            {% if pdata.CURRENT %}
                <p>Das Ausstellungsdatum der Gruppen wird dann benutzt,
                wenn das individuelle Datum auf null gesetzt wird. Um das
                Gruppendatum zu ändern, gehen Sie
                <a href="{{url_for('bp_grades.issue_dates')}}">
                    zur entsprechenden Seite
                </a>.
                </p>

            {% endif %}
            <div class="pure-control-group">
                <label for="{{ form.DATE_D.id }}">Ausstellungsdatum
                </label>
                {{ form.DATE_D }}
            </div>
            {% if form.VDATE_D %}
                <p>Für manche Zeugnisse (Versetzungen in der Qualifikationsphase)
                    ist auch das Datum der Notenkonferenz erforderlich. Dieses kann
                    man auf
                    <a href="{{url_for('bp_grades.grade_dates')}}">
                        der entsprechenden Seite einstellen.
                    </a>
                </p>
                <div class="pure-control-group">
                    <label for="{{ form.VDATE_D.id }}">
                        Konferenzdatum
                    </label>
                    {{ form.VDATE_D }}
                </div>
            {% endif %}
        {% else %}
            <div class="pure-control-group">
                <label for="{{ form.DATE_D.id }}">Ausstellungsdatum</label>
                {{ form.DATE_D }}
            </div>
        {% endif %}
            <div class="pure-control-group">
                {{ form.RTYPE.label }}{{ form.RTYPE }}  <!-- select report type -->
            </div>
        </fieldset>

        <fieldset>
            <legend>Noten</legend>
            {% for s in subjects %}
                <div class="pure-control-group">
                {{ form[s].label }}{{ form[s] }}
                </div>
            {% endfor %}
        </fieldset>

        {% if form.REMARKS %}
        <legend>Bemerkungen</legend>
        {{ form.REMARKS }}
        {% endif %}

        <hr />
        <button type="submit" name="action" value="update"
                class="pure-button submit-button"
                style="margin: 0.5rem 1rem;">nur Speichern</button>
        <button type="submit" name="action" value="build"
                class="pure-button submit-button"
                style="margin: 0.5rem 1rem;">Erstellen</button>
    </form>
{% endblock %}
