{% extends "base.html" %}
{% set uplink = url_for('bp_grades.term', termn=termn) %}
{% set uplink_help = "Notenzeugnisse: %s. Halbjahr" % termn %}

{% block title %}Noten hochladen ({{termn}}. HJ.){% endblock %}

{% block content %}
    <p>Selektieren Sie hier die Datei, die die Notentabelle enthält,
    die Sie hochladen möchten.
    </p>
    <form id="dataform" class="pure-form pure-form-stacked" method="POST" enctype="multipart/form-data">
        {{ form.csrf_token }}
        <div class="uploaddiv">
            {{ form.upload.label }}{{ form.upload }}
        </div>
        <hr />
        <div class="formsubmit">
            <button type="submit" class="pure-button pure-button-primary">Hochladen</button>
        </div>
    </form>
{% endblock %}
