{% extends "base.html" %}
{% if klass %}
    {% set uplink = url_for('bp_grades.issue', termn=termn) %}
    {% set uplink_help = "Alle Klassen" %}
{% else %}
    {% set uplink = url_for('bp_grades.term', termn=termn) %}
    {% set uplink_help = termn + ". Halbjahr" %}
{% endif %}

{% block title %}Ausstellungsdatum{% endblock %}

{% block content %}
    <h2>{{ termn }}. Halbjahr
    </h2>
    <ul class="modules">
        {% if termn == '1' %}{% set hj = '2' %}{% else %}{% set hj = '1' %}{% endif %}
        <li><a href="{{url_for('bp_grades.issue', termn=hj)}}">
            ↪ {{ hj }}. Halbjahr
        </a></li>
    </ul>
    {% if klass %}<h3>Klasse {{ klass }}</h3>
    {% else %}<h3>Alle Klassen</h3>
    <p>Ein voreingestelltes Datum erscheint hier nur, wenn für alle
    Klassen und Gruppen das gleiche Datum eingestellt wurde.</p>
    {% endif %}
    <form class="pure-form" method="POST">
        {{ form.csrf_token }}
        <fieldset>
            <legend>{{ form.DOI_D.label }}</legend>{{ form.DOI_D }}
            <button type="submit" class="pure-button submit-button"
                    style="margin: 0;">
                Übernehmen
            </button>
        </fieldset>
    </form>
    <hr />
    <p>Sie können hier eine Klasse/Gruppe wählen, um für nur diese das
    Ausstellungsdatum zu setzen.
    </p>
    <div class="pure-menu">
        <ul class="pure-menu-list">
        {% for k in klasses %}
            <li class="pure-menu-item">
                <a href="{{url_for('bp_grades.issue', termn=termn, ks=k)}}"
                        class="pure-menu-link">
                    Klasse {{ k }}
                </a>
            </li>
        {% endfor %}
        </ul>
    </div>
{% endblock %}
