{% extends "base.html" %}
{% set uplink = url_for('bp_grades.term', termn=termn) %}
{% set uplink_help = "Notenzeugnisse: %s. Halbjahr" % termn %}

{% block title %}Erstellen{% endblock %}

{% block content %}
    <h3>Klasse/Gruppe {{klass_stream}}, <span>{{termn}}.&nbsp;Halbjahr</span></h3>
    <p>Notenzeugnisse werden für alle markierten Schüler erstellt. Klicken Sie
    auf das entsprechende Kontrollkästchen, um die Markierung für einen Schüler
    zu entfernen – oder wiederherzustellen. Schüler, für die keine Noten
    gespeichert sind, können nicht selektiert werden.
    </p>
    <p>Nur Schüler, die "aktuell" in der Klasse/Gruppe sind, werden hier
    angezeigt. Falls ein Gruppen- oder sogar Klassenwechsel stattgefunden
    hat, sind die Daten nur als Einzelschüler in der neuen Klasse/Gruppe
    verfügbar.
    </p>
    <p>Sie können das Ausstellungsdatum der Zeugnisse auf der
    <a href="{{ url_for('bp_grades.issue', termn=termn, ks=klass_stream)}}">
    entsprechenden Seite</a> setzen bzw. anpassen.
    </p>
    <p>Um die Zeugnisse zu erstellen, klicken Sie auf die Schaltfläche
    „Erstellen“.
    </p>

    <form id="dataform" class="pure-form pure-form-aligned widelabel" method="POST">
        {{ form.csrf_token }}

        <fieldset>
            <div class="pure-control-group">
                <label for="{{ form.DATE_D.id }}">
                <a href="{{url_for('bp_grades.issue', termn=termn, ks=klass_stream)}}">
                    ↪ Ausstellungsdatum
                </a>
                </label>
                {{ form.DATE_D(readonly=true) }}
            </div>
            <button type="submit" class="pure-button submit-button"
                    style="margin: 0;">
                Erstellen
            </button>
        </fieldset>

        <hr />

        {% for pid, pname, ok in pupils %}
        <div class="form-group">
            <input name="Pupil" type="checkbox" value="{{pid}}"
                    {% if ok %}checked{% else %}disabled{% endif %}>
            <span class="menu-item">{{pname}}</span>
<!-- Link to single report page, with term preset? -->
        </div>
        {% endfor %}
    </form>
{% endblock %}
