{% extends "base.html" %}
{% set uplink = url_for('bp_grades.term', termn=termn) %}
{% set uplink_help = "Notenzeugnisse: %s. Halbjahr" % termn %}

{% block title %}Erstellen{% endblock %}

{% block content %}
    <h3>Klasse/Gruppe {{klass_stream}}</h3>
    <p>Notenzeugnisse werden für alle markierten Schüler erstellt. Klicken Sie
    auf das entsprechende Kontrollkästchen, um die Markierung für einen Schüler
    zu entfernen – oder wiederherzustellen. Schüler, für die keine Noten
    gespeichert sind (oder die die Klasse/Gruppe gewechselt haben), können
    nicht selektiert werden.
    </p>
    <p>Sie können das Ausgabedatum der Zeugnisse ändern. Um die
    Zeugnisse dann zu erstellen, klicken Sie auf die Schaltfläche „Erstellen“.
    </p>
    <p>Nur Schüler, die "aktuell" in der Klasse/Gruppe sind, werden hier
    angezeigt. Falls ein Gruppen- oder sogar Klassenwechsel stattgefunden
    hat, sind die Daten nur als Einzelschüler in der neuen Klasse/Gruppe
    verfügbar.</p>
    <p><strong>Warnung:</strong> Änderungen, die hier vorgenommen werden,
    werden nicht permanent übernommen. Sie gelten nur für den aktuellen
    Vorgang.</p>

    <form id="dataform" class="pure-form" method="POST">
        {{ form.csrf_token }}

        <fieldset>
            <legend>{{ form.DATE_D.label }}</legend>
            {{ form.DATE_D }}
            <button type="submit" class="pure-button submit-button"
                    style="margin: 0;">
                Erstellen
            </button>
        </fieldset>

        <hr />

        {% for pid, pname, ok in pupils %}
        <div class="form-group">
            <input name="Pupil" type="checkbox" value="{{pid}}"
                    {% if ok %}checked{% else %}disabled{% endif %}>
            <span class="menu-item">{{pname}}</span>
<!-- Link to single report page, with term preset? -->
        </div>
        {% endfor %}
    </form>
{% endblock %}
