{% extends "base.html" %}
{% set klass = pdata.CLASS %}
{% set pid = pdata.PID %}
{% set uplink = url_for('bp_grades.pupils', klass=klass) %}
{% set uplink_help = "Klasse " + klass %}

{% block title %}Einzelzeugnis{% endblock %}

{% block content %}
    <h3>für {{pdata.name()}} in Klasse {{klass}}</h3>
    <p>Hier können Sie zwischen einem Zeugnis zu einem Halbjahr, einem
    zusätzlichen Zeugnis zu einem schon angelegten Datum oder einem
    völlig neuen Zeugnis wählen.
    </p>
    <p>Der angezeigte Zeugnistyp kann bei der Notenbearbeitung geändert
    werden. Für „zusätzlichen“ (datierten) Zeugnissen kann auch das
    Datum geändert werden.
    </p>

    <div class="pure-menu">
        <div class="pure-menu-item">
            <a href="{{url_for('bp_grades.grades_pupil', pid=pid, rtag='_')}}"
                    class="pure-menu-link">
                Neues Sonderzeugnis
            </a>
        </div>
        <legend>Halbjahre</legend>
        <ul class="pure-menu-list">
        {% for t in terms %}
            {% set rtype = terms[t] %}
            <li class="pure-menu-item">
                <a href="{{url_for('bp_grades.grades_pupil', pid=pid, rtag=t)}}"
                        class="pure-menu-link">
                    {{ t }}. Halbjahr ({{rtype}})
                </a>
            </li>
        {% endfor %}
        </ul>
        <legend>Sonderzeugnisse</legend>
        <ul class="pure-menu-list">
        {% for d, rtype in dates %}
            <li class="pure-menu-item">
                {% if rtype == 'Abitur' %}
                    {% set url = url_for('bp_abitur.grades', pid=pid) %}
                {% else %}
                    {% set url = url_for('bp_grades.grades_pupil', pid=pid, rtag=d) %}
                {% endif %}
                <a href="{{url}}" class="pure-menu-link">
                    {{ todate(d) }} ({{rtype}})
                </a>

            </li>
        {% else %}
            <li class="pure-menu-item pure-menu-link">
                –––––
            </li>
        {% endfor %}
        </ul>
    </div>
{% endblock %}
