{% extends "base.html" %}
{% set uplink = url_for('bp_grades.term') %}
{% set uplink_help = "Notenzeugnisse: Gruppe wählen" %}

{% block title %}Erstellen{% endblock %}

{% block content %}
    <h3>Klasse/Gruppe {{ks}}, <span>{{termn}}.&nbsp;Halbjahr</span></h3>
    <p>Notenzeugnisse (Typ „{{rtype}}“) werden für alle markierten Schüler
    erstellt. Um die Markierung für einen Schüler aufzuheben – oder
    wiederherzustellen –, klicken Sie auf den Namen oder das
    Kontrollkästchen.</p>
    <p>
    Nur Schüler, die Noten mit passendem Maßstab haben und deren
    Zeugnisparameter nicht von der Norm für das Halbjahr abweichen,
    können selektiert werden.
    </p>
    <p>Zeugnisse, die hier nicht erstellt werden können, sind über die
    <a href="{{url_for('bp_grades.pupils', klass=ks.klass)}}">
    Seite für Einzelzeugnisse</a> erhältlich.
    </p>
    <p>Um die Zeugnisse zu erstellen, klicken Sie auf die Schaltfläche
    „Erstellen“.
    </p>

    <form class="pure-form pure-form-aligned widelabel" method="POST">
        {{ form.csrf_token }}

        <fieldset>
            <div class="pure-control-group">
                <label for="DATE_D">
                <a href="{{url_for('bp_grades.issue_dates')}}">
                    ↪ Ausstellungsdatum
                </a>
                </label>
                <input id="DATE_D" name="DATE_D" type="date"
                        min="{{ MIN_D }}" max="{{ MAX_D }}"
                        value="{{ dates.DATE_D }}" readonly>
            </div>
            {% if form.withgdate %}
            <p>Für „gymnasiale“ Versetzungen am Ende der 11. und 12.
            Klasse ist auch das Datum der Notenkonferenz erforderlich.
            </p>
            <div class="pure-control-group">
                <label for="GDATE_D">
                <a href="{{url_for('bp_grades.grade_dates')}}">
                    ↪ Konferenzdatum
                </a>
                </label>
                <input id="GDATE_D" name="GDATE_D" type="date"
                        min="{{ MIN_D }}" max="{{ MAX_D }}"
                        value="{{ dates.GDATE_D }}" readonly>
            </div>
            {% endif %}
             <button type="submit" class="pure-button submit-button"
                    style="margin: 0.5rem 1rem;">
                Erstellen
            </button>
        </fieldset>

        <hr />

        {% for pid, pname, ok in pupils %}
        <div class="form-group">
            <input id="{{pid}}" name="Pupil" type="checkbox"
                    value="{{pid}}"
                    {% if ok %}checked{% else %}disabled{% endif %}>
            <label for="{{pid}}">{{pname}}</label>
<!-- Link to single report page, with term preset? -->
        </div>
        {% endfor %}
    </form>
{% endblock %}
