{% extends "base.html" %}
{% set uplink = url_for('bp_grades.term') %}
{% set uplink_help = "Notenzeugnisse: Gruppe wählen" %}

{% block title %}Erstellen{% endblock %}

{% block content %}
    <h3>Klasse/Gruppe {{ks}}, <span>{{termn}}.&nbsp;Halbjahr</span></h3>
    <p>Notenzeugnisse (Typ „{{rtype}}“) werden für alle markierten Schüler
    erstellt. Klicken Sie auf das entsprechende Kontrollkästchen, um die
    Markierung für einen Schüler aufzuheben – oder wiederherzustellen.
    Nur Schüler, die Noten mit passendem Maßstab haben und deren
    Zeugnisparameter nicht von der Norm für das Halbjahr abweichen,
    können selektiert werden.
    </p>
    <p>Zeugnisse, die hier nicht erstellt werden können, sind über die
    <a href="{{url_for('bp_grades.pupils', klass=ks.klass)}}">
    Seite für Einzelzeugnisse</a> erhältlich.
    </p>
    <p>Um die Zeugnisse zu erstellen, klicken Sie auf die Schaltfläche
    „Erstellen“.
    </p>

    <form class="pure-form pure-form-aligned widelabel" method="POST">
        {{ form.csrf_token }}

        <fieldset>
            <div class="pure-control-group">
                <label for="{{ form.DATE_D.id }}">
                    Ausstellungsdatum
                </label>
                {{ form.DATE_D }}
            </div>
            {% if form.VDATE_D %}
            <p>Für „gymnasiale“ Versetzungen am Ende der 11. und 12.
            Klasse ist auch das Datum der Notenkonferenz erforderlich.
            </p>
            <div class="pure-control-group">
                <label for="{{ form.VDATE_D.id }}">
                <a href="{{url_for('bp_grades.current_term', termn=termn)}}">
                    ↪ Konferenzdatum
                </a>
                </label>
                {{ form.VDATE_D(readonly=true) }}
            </div>
            {% endif %}
             <button type="submit" class="pure-button submit-button"
                    style="margin: 0.5rem 1rem;">
                Erstellen
            </button>
        </fieldset>

        <hr />

        {% for pid, pname, ok in pupils %}
        <div class="form-group">
            <input name="Pupil" type="checkbox" value="{{pid}}"
                    {% if ok %}checked{% else %}disabled{% endif %}>
            <span class="menu-item">{{pname}}</span>
<!-- Link to single report page, with term preset? -->
        </div>
        {% endfor %}
    </form>
{% endblock %}
