{% extends "base.html" %}
{% set uplink = url_for('bp_grades.index') %}
{% set uplink_help = "Notenzeugnisse: Startseite" %}

{% block title %}{% if termn %}{{termn}}. Halbjahr
    {% else %}Halbjahr wählen{% endif %}
{% endblock %}

{% block content %}
    {% if termn %}
        <p>Dieses ist {% if termn != term0 %}nicht{% endif %}
        das „aktuelle“ Halbjahr.
        </p>
        <p>Hier können Sie das andere Halbjahr wählen:
        </p>
    {% endif %}
    <ul class="modules">
        {% for hj in terms %}
        <li><a href="{{url_for('bp_grades.term', termn=hj)}}">
            ↪ {{ hj }}. Halbjahr
        </a></li>
        {% endfor %}
    </ul>
    <hr />

    {% if termn %}
        {% if dfile %}
        <p>Hier können Sie die Zeugnisdatei herunterladen:</p>
        <a href="{{url_for('download', dfile=dfile)}}">{{dfile}}</a>
        <hr />
        {% endif %}

        <h2>Notentabellen</h2>
        <div class="pure-menu">
            <ul class="pure-menu-list">
                <li class="pure-menu-item">
                    <a href="{{url_for('bp_grades.termtable', termn=termn)}}"
                        class="pure-menu-link">
                        Notentabellen verwalten (für die Noteneingabe)
                    </a>
                </li>
            </ul>
        </div>

        <h2>Zeugnisse erstellen</h2>
        <p>Wählen Sie hier die Klasse/Gruppe, für die die Zeugnisse zu
        erstellen sind. Für das aktuelle Halbjahr können Sie das
        Ausstellungsdatum und ggf. das Datum der Notenkonferenz auf der
        <a href="{{ url_for('bp_grades.current_term', termn=termn)}}">
        entsprechenden Seite</a> setzen bzw. anpassen.
        </p>
        <div class="pure-menu">
            <ul class="pure-menu-list">
            {% for k in klasses %}
                <li class="pure-menu-item">
                    <a href="{{url_for('bp_grades.klassview', termn=termn,
                                    klass_stream=k)}}"
                            class="pure-menu-link">
                        Klasse/Gruppe {{ k }}
                    </a>
                </li>
            {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endblock %}
