{% extends "base.html" %}
{% set uplink = url_for('bp_grades.index') %}
{% set uplink_help = "Notenzeugnisse: Startseite" %}

{% block title %}{{termn}}. Halbjahr
{% endblock %}

{% block content %}
    {% if dfile %}
    <p>Hier können Sie die Zeugnisdatei herunterladen:
    </p>
    <a href="{{url_for('download', dfile=dfile)}}">{{dfile}}</a>
    <hr />
    {% endif %}

    <h2>Notentabelle einlesen (hochladen)</h2>
    <p>Die Tabelle kann für jede Klasse/Gruppe sein, das Halbjahr muss
    aber übereinstimmen. Das Format darf 'xlsx' oder 'ods' sein.
    </p>
    <form class="pure-form pure-form-aligned" method="POST">
        {{ form.csrf_token }}
        <div class="uploaddiv">
            {{ form.upload.label }}{{ form.upload }}
        </div>
        <button type="submit" class="pure-button submit-button"
                style="margin: 0.5rem 1rem;">Einlesen</button>
    </form>
    <hr />

    <h2>Zeugnisse erstellen</h2>
    <p>Gesammelte Zeugnisse für Gruppen können nur für das „aktuelle“
    Halbjahr erstellt werden. Alle Zeugnisse müssen gleichen Typs sein
    und die Gruppenzugehörigkeit der Schüler darf sich seit der Notengebung
    nicht geändert haben. Alte Zeugnisse und Sonderzeugnisse können nur für
    <a href="{{url_for('bp_grades.klasses')}}">einzelne Schüler</a>
    erstellt werden.
    </p>

    <p>Wählen Sie hier die Klasse/Gruppe, für die die Zeugnisse zu
    erstellen sind.
    </p>
    <div class="pure-menu">
        <ul class="pure-menu-list">
        {% for k in klasses %}
            <li class="pure-menu-item">
                <a href="{{url_for('bp_grades.reports', ks=k)}}"
                        class="pure-menu-link">
                    Klasse/Gruppe {{ k }}
                </a>
            </li>
        {% endfor %}
        </ul>
    </div>
{% endblock %}
