{% extends "base.html" %}
{% set uplink = url_for('bp_grades.term', termn=termn) %}
{% set uplink_help = "Notenzeugnisse: %s. Halbjahr" % termn %}

{% block title %}{{termn}}. Halbjahr{% endblock %}

{% block content %}
    {% if dfile %}
    <p>Hier können Sie die Notentabelle herunterladen:</p>
    <a href="{{url_for('download', dfile=dfile)}}">{{dfile}}</a>
    <hr />
    {% endif %}

    {% if form %}
    <h2>Notentabelle einlesen (hochladen)</h2>
    <p>Die Tabelle kann für jede Klasse/Gruppe sein, das Halbjahr muss
    aber übereinstimmen. Das Format darf 'xlsx' oder 'ods' sein.
    </p>
    <form id="dataform" class="pure-form pure-form-stacked" method="POST" enctype="multipart/form-data">
        {{ form.csrf_token }}
        <div class="uploaddiv">
            {{ form.upload.label }}{{ form.upload }}
        </div>
        <div class="formsubmit">
            <button type="submit" class="pure-button pure-button-primary">Einlesen</button>
        </div>
        <hr />
    </form>
    {% endif %}

    <h2>Notentabelle erstellen</h2>
    <p>Wählen Sie hier die Klasse/Gruppe, für die die Tabelle zu
    erstellen ist.
    </p>
    <div class="pure-menu">
        <ul class="pure-menu-list">
        {% for ks in klasses %}
            <li class="pure-menu-item">
                <a href="{{url_for('bp_grades.termtable', termn=termn, ks=ks)}}"
                    class="pure-menu-link">
                    Klasse/Gruppe {{ ks }}
                </a>
            </li>
        {% endfor %}
        </ul>
    </div>
{% endblock %}
