{% extends "base.html" %}

{% block title %}Einstellungen{% endblock %}

{% block sidepanel %}
  <div class="pure-menu-heading sidemenu-heading"">Klasse:</div>
  <div class="pure-menu sidemenu">
    <ul class="pure-menu-list">
      {% for s in sections %}
      <li class="pure-menu-item"><a href="{{url_for('bp_settings.section', section=s)}}" class="pure-menu-link">{{k}}</a></li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}

{% block content %}
    <p>In der Navigation (links) können Sie eine Einstellungsgruppe wählen.
    Um Änderungen zu speichern, müssen Sie auf "Übernehmen" klicken.
    Manche Einstellungen sind notwendig, um bestimmte Funktionen des Programmes
    zu ermöglichen (z.B. für die Textzeugnisse muss ein Ausgabedatum hier
    eingegeben werden, die allerdings für einzelne Klassen und Schüler
    überschrieben werden kann).
    </p>

    <form id="dataform" class="pure-form" method="POST">
        {{ form.csrf_token }}
        <div class="form2">
            <!--<label for="DATE_D">Ausgabedatum</label>
            <input id="DATE_D" type="date" required>-->
            {{ form.dateofissue.label }}{{ form.dateofissue }}
                {% for error in form.dateofissue.errors %}
                <span>[{{ error }}]</span>
                {% endfor %}
            {{ form.itemB.label }}{{ form.itemB }}
                {% for error in form.itemB.errors %}
                <span>[{{ error }}]</span>
                {% endfor %}
        </div>
        <hr />
        <div class="formsubmit">
            <button type="submit" class="pure-button pure-button-primary">Übernehmen</button>
        </div>
    </form>
{% endblock %}
