{% extends "base.html" %}
{% set klass = pdata.CLASS %}
{% set uplink = url_for('bp_abitur.pupils', klass=klass) %}
{% set uplink_help = "Klasse " + klass %}

{% block imports %}
<style>
    .subject {
        display: inline-block;
        margin: inherit;
        width: 16em;
    }
    .subjectM {
        display: inline-block;
        margin: inherit;
    }

    .pure-form-aligned .pure-control-group .subjectM label {
        width: 5em;
    }
</style>
{% endblock %}
{% block title %}Prüfungsnoten{% endblock %}

{% block content %}
    <h3>für {{ pdata.name() }}</h3>
    <p>Geben Sie alle Daten ein, die für das Zeugnis nötig sind, dann
    klicken Sie auf „Speichern“ oder „Erstellen“ (ganz unten).
    </p>

    <form class="pure-form pure-form-aligned" method="POST">
        {{ form.csrf_token }}

        <fieldset>
            <legend>Noten</legend>
          {% for sid, sname, g0, gn in subjects %}
            <div class="pure-control-group">
                <div class="subject">
                    {% set skey = 'G_' + sid %}
<!-- Hier sollten die Fachnamen deren Zusätze (eA, usw.) beibehalten -->
                    <label for="{{ skey }}">{{ sname }}</label>
                    <select id="{{ skey }}" name="{{ skey }}">
                    {% for g in choices[0] %}
                        <option {% if g == g0 %}selected{% endif %}>
                            {{ g }}
                        </option>
                    {% endfor %}
                    </select>
                </div>
<!-- Für schriftliche Fächer kann es auch eine mündliche Nachprüfung geben -->
              {% if gn %}
                <div class="subjectM">
                    {% set skey = 'G_N_' + sid %}
                    <label for="{{ skey }}">mdl.</label>
                    <select id="{{ skey }}" name="{{ skey }}">
                    {% for g in choices[1] %}
                        <option {% if g == gn %}selected{% endif %}>
                            {{ g }}
                        </option>
                    {% endfor %}
                    </select>
                </div>
              {% endif %}
          {% endfor %}

        <div class="pure-control-group">
            <label for="DATE_D">Ausstellungsdatum</label>
            <input id="DATE_D" name="DATE_D" type="date"
            value="{{pdata.DATE_D}}">
        </div>
        <hr>
        <button type="submit" name="action" value="update"
                class="pure-button submit-button"
                style="margin: 0.5rem 1rem;">Speichern</button>
        <button type="submit" name="action" value="build"
                class="pure-button submit-button"
                style="margin: 0.5rem 1rem;">Erstellen</button>
    </form>
{% endblock %}
