{% extends "base.html" %}
{% set uplink = url_for('bp_text.index') %}
{% set uplink_help = "Startseite" %}

{% block title %}Abgabetermin{% endblock %}

{% block content %}
    <form class="pure-form pure-form-aligned widelabel" method="POST">
        {{ form.csrf_token }}
        <fieldset>
            <p>Um die Eingabe der Textzeugnisse durch „normale“ Benutzer
            zu ermöglichen, muss der Abgabetermin gesetzt werden. Die Einhaltung
            dieser Termin wird allerdings nicht automatisch kontrolliert: Um
            Eingaben zu sperren, muss das Datum auf „Null“ (kein Datum) gesetzt
            werden!
            </p>
            <div class="pure-control-group">
                {{ form.TEXT_CLOSING_D.label }}{{ form.TEXT_CLOSING_D }}
            </div>
            <hr />
            <button type="submit" class="pure-button submit-button"
                    style="margin: 0;">
                Übernehmen
            </button>
        </fieldset>
    </form>
{% endblock %}
