{% extends "base.html" %}
{% set uplink = url_for('bp_settings.index') %}
{% set uplink_help = "Einstellungen" %}

{% block title %}Abgabetermine{% endblock %}

{% block content %}
    <form class="pure-form pure-form-aligned widelabel" method="POST">
        {{ form.csrf_token }}
        <fieldset>
            <legend>Aktuelles Halbjahr (Noten)</legend>
            <p>Um die Eingabe der Noten durch unprivilegierte Benutzer zu
            ermöglichen, müssen sowohl das Halbjahr als auch der Abgabetermin
            gesetzt werden. Der Termin wird aber nicht vom Programm
            überwacht: Um Eingaben zu sperren, muss das Halbjahr auf
            Null gesetzt werden.</p>
            <div class="pure-control-group">
                {{ form.TERM.label }}{{ form.TERM }}
            </div>
            <div class="pure-control-group">
                {{ form.GRADES_CLOSING_D.label }}{{ form.GRADES_CLOSING_D }}
            </div>
            <legend style="margin-top: 8mm">Abgabetermin (Textzeugnisse)</legend>
            <p>Um die Eingabe der Textzeugnisse durch unprivilegierte Benutzer
            zu ermöglichen, muss der Abgabetermin gesetzt werden – obwohl
            er nicht vom Programm überwacht wird : Um Eingaben zu sperren,
            muss das Datum auf Null gesetzt werden.</p>
            <div class="pure-control-group">
                {{ form.TEXT_CLOSING_D.label }}{{ form.TEXT_CLOSING_D }}
            </div>
            <hr />
            <button type="submit" class="pure-button submit-button"
                    style="margin: 0;">
                Übernehmen
            </button>
        </fieldset>
    </form>
{% endblock %}
