{% extends "base.html" %}
{% set uplink = url_for('index') %}
{% set uplink_help = "Startseite" %}

{% block title %}Startseite{% endblock %}

{% block content %}
    <p>Wählen Sie eine Einstellungsseite.
    </p>
    <ul class="modules">
        <li><a href="{{url_for('bp_settings.year')}}">
            Aktuelles“ Schuljahr verwalten / ändern
        </a></li>
        <li><a href="{{url_for('bp_settings.closingdates')}}">
            Abgabetermine für Noten und Textzeugnisse
        </a></li>
        <li><a href="{{url_for('bp_settings.choices')}}">
            Kurswahltabellen verwalten
        </a></li>
    </ul>
{% endblock %}
