{% extends "base.html" %}
{% block imports %}
<style>
    #upbtn { display: none; }
</style>
{% endblock %}

{% block title %}Startseite{% endblock %}

{% block content %}
    <p>Hier können Sie verschiedene Einstellungen und allgemeine Daten
    verwalten. Wählen Sie eine Funktion:
    </p>
    <ul class="modules">
        <li><a href="{{url_for('bp_settings.year')}}">
            „Aktuelles“ Schuljahr verwalten / ändern
        </a></li>
        <li><a href="{{url_for('bp_settings.closingdates')}}">
            Abgabetermine für Noten und Textzeugnisse
        </a></li>
        <li><a href="{{url_for('bp_settings.subjects')}}">
            Fächertabellen verwalten
        </a></li>
        <li><a href="{{url_for('bp_settings.choices')}}">
            Kurswahltabellen verwalten
        </a></li>
    </ul>
{% endblock %}
