{% extends "base.html" %}
{% set uplink = url_for('bp_text.index') %}
{% set uplink_help = "Textzeugnis: Startseite" %}

{% block title %}Mantelbogen{% endblock %}

{% block content %}
    <p>Mantelbögen können für einzelne Schüler oder für ganze Klassen
    erstellt werden. Das voreingestellte Ausgabedatum kann hier geändert
    werden. Für Einzelbögen oder einzelne Bogensätze kann das Datum
    auch bei der Erstellung (aber nur vorübergehend) geändert werden.
    </p>

    <form class="pure-form" method="POST">
        {{ form.csrf_token }}
        <fieldset>
            <legend>{{ form.DATE_D.label }}</legend>
            {{ form.DATE_D }}
            <button type="submit" class="pure-button pure-button-primary">Übernehmen</button>
        </fieldset>
    </form>

    <hr />
    <p>Wählen Sie unten eine Klasse, für die Zeugnisbögen zu erstellen sind.
    </p>
    <ul class="pure-menu-list">
        {% for k in klasses %}
        <li class="pure-menu-item">
            <a class="pure-menu-link"
                    href="{{url_for('bp_text_cover.klassview', klass=k)}}">
                {{k}}
            </a>
        </li>
        {% endfor %}
    </ul>
{% endblock %}
