{% extends "base.html" %}
{% set uplink = url_for('bp_text.index') %}
{% set uplink_help = "Textzeugnis: Startseite" %}

{% block title %}Mantelbogen{% endblock %}

{% block sidepanel %}
  <div class="pure-menu-heading sidemenu-heading"">Klasse:</div>
  <div class="pure-menu sidemenu">
    <ul class="pure-menu-list">
      {% for k in klasses %}
      <li class="pure-menu-item"><a href="{{url_for('bp_text_cover.klassview', klass=k)}}" class="pure-menu-link">{{k}}</a></li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}

{% block content %}
    <p> Ausgabedatum: {{ DATE_D }}
    </p>
    <p>Mantelbögen können für einzelne Schüler oder für ganze Klassen
    erstellt werden. Das voreingestellte Ausgabedatum kann in den
    <!--<a href="{x{url_for('bp_settings.section', section=text_cover)}}">Einstellungen</a>-->
    <strong>TODO: Einstellungen</strong>
    geändert werden. Auch bei der Erstellung eines Bogens
    oder eines Bogensatzes kann das Datum (vorübergehend) geändert werden.
    <p>Wählen Sie zuerst eine Klasse.
    </p>
{% endblock %}
