{% extends "base.html" %}
{% set uplink = url_for('bp_text_cover.index') %}
{% set uplink_help = "Mantelbogen: Startseite" %}

{% block title %}Mantelbogen{% endblock %}

{% block content %}
    <h3>Klasse {{klass}}</h3>
    <p>Mantelbögen werden für alle markierten Schüler erstellt. Klicken Sie
    auf das entsprechende Kontrollkästchen, um die Markierung für einen Schüler
    zu entfernen – oder wiederherzustellen.
    </p>
    <p>Sie können das Ausgabedatum der Bögen ändern. Um die
    Bögen dann zu erstellen, klicken Sie auf die Schaltfläche „Erstellen“.
    </p>
    <p>Wenn Sie auf einen Schülernamen klicken, gelangen Sie zu einer Seite
    mit den Details dieses Schülers. Dort können Sie einen Einzelbogen –
    gegebenfalls mit Änderungen – erstellen.
    </p>
    <p><strong>Warnung:</strong> Änderungen, die hier vorgenommen werden,
    werden nicht permanent übernommen. Sie gelten nur für den aktuellen
    Vorgang.</p>

    <form id="dataform" class="pure-form" method="POST">
        {{ form.csrf_token }}
        <fieldset>
            <legend>{{ form.DATE_D.label }}</legend>
            {{ form.DATE_D }}
            <button type="submit" class="pure-button submit-button"
                    style="margin: 0;">
                Erstellen
            </button>
        </fieldset>

        <hr />

        {% for pid, pname in pupils %}
        <div class="form-group">
            <input name="Pupil" type="checkbox" value="{{pid}}" checked>
            <a href="{{url_for('bp_text_cover.pupilview', klass=klass, pid=pid)}}"
                class="pure-menu-link">{{pname}}</a>
        </div>
        {% endfor %}
    </form>
{% endblock %}
