{% extends "base.html" %}
{% set uplink = url_for('bp_text_cover.klassview', klass=klass) %}
{% set uplink_help = "Klasse " + klass %}

{% block title %}Mantelbogen{% endblock %}

{% block content %}
    <h3>Schüler in Klasse {{klass}}</h3>
    <p>Ein Mantelbogen wird für die hier dargestellten Daten erstellt.
    Die Inhalte aller Felder können angepasst werden. Um den
    Bogen dann zu erstellen, klicken Sie auf die Schaltfläche „Erstellen“.
    </p>
    <p><strong>Warnung:</strong> Änderungen, die hier vorgenommen werden,
    werden nicht permanent gespeichert. Sie gelten nur für den aktuellen
    Vorgang.</p>
    <p>Das Feld für den Rufnamen kann leer sein. In diesem Fall werden
    die Vornamen übernommen.
    </p>
    <form id="dataform" class="pure-form pure-form-aligned" method="POST">
        {{ form.csrf_token }}
        <fieldset>
            <legend>{{ form.DATE_D.label }}</legend>
            {{ form.DATE_D }}
            <button type="submit" class="pure-button submit-button"
                    style="margin: 0;">
                Erstellen
            </button>
        </fieldset>

        <hr />

        <fieldset>
            {% for f, fdata in pupil.items() %}
            <div class="pure-control-group">
                <label for="{{f}}">{{fdata[0]}}</label>
              {% if f.endswith('_D') %}
                <input type="date" name="{{f}}" value="{{fdata[1]}}">
              {% else %}
                <input type="text" name="{{f}}" value="{{fdata[1]}}">
              {% endif %}
            </div>
            {% endfor %}
        </fieldset>
    </form>
{% endblock %}
