<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Zeugs</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
    <link href="{{ url_for('static', filename='css/pure/pure.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/zeugs.css') }}" rel="stylesheet">
<!--    <script src="{{ url_for('static', filename='js/zeugs.js') }}" defer></script> -->
    {% block imports %}{% endblock %}
  </head>

  <body>
    <div class="fixed-header">
        <div class="dropdown topitem topicon">
            <img style="height: 2.5rem;" src="{{url_for('static', filename='img/zeugs_logo.svg')}}" />

            <div id="sidepanel0" class="sidepanel dropdown-content0">
<!-- Maybe I don't need to make this block alterable? -->
                {% block sidepanel %}
                <img class="sidelogo" src="{{url_for('zeugs_data', filename='weblogo.png')}}" />

                <!--<div class="pure-menu-heading sidemenu-heading">Heading:</div>-->
                <div class="pure-menu sidemenu" style="position:relative; top:0;">
                    <ul class="pure-menu-list">
                        <li class="pure-menu-item">
                            <a href="{{url_for('bp_text.index')}}" class="pure-menu-link">Textzeugnisse</a>
                        </li>
                        {% block nav_text %}
                        {% endblock %}
                        <li class="pure-menu-item">
                            <a href="{{url_for('bp_grades.index')}}" class="pure-menu-link">Notenzeugnisse</a>
                        </li>
                        {% block nav_grades %}
                        {% endblock %}
                        <li class="pure-menu-item">
                            <a href="#" class="pure-menu-link">Anwesenheit</a>
                        </li>
                        {% block nav_attendance %}
                        {% endblock %}
                        <li class="pure-menu-item">
                            <a href="{{url_for('bp_settings.index')}}" class="pure-menu-link">Einstellungen</a>
                        </li>
                        {% block nav_settings %}
                        {% endblock %}
                    </ul>
                </div>

                {% endblock %}
            </div>
        </div>

        <div class="topitem toptitle">
            <label>{{ heading }}</label>
        </div>

        <div class="topitem topyear">
            <label>{{session.get('year', '')}}</label>
        </div>
    </div>

    <main>
        <div id="pagetitle">
            <a href="{{uplink}}" class="zbtn tooltip" id="upbtn"
                        style="left: 0">
                <img style="height: 1.5rem;" src="{{url_for('static', filename='img/back-up.svg')}}" />
                <span class="tooltiptext" style="left: 80%;">{{uplink_help}}</span>
            </a>
            {% block title %}{% endblock %}
            {% with uid = session.get('user_id') %}
                {% if uid %}
                <a href="{{url_for('bp_auth.logout')}}" class="zbtn tooltip"
                        style="right: 0">
                    <span style="font-size: 1rem; font-weight: normal;">{{uid}}</span>
                    <span class="tooltiptext" style="right: 105%;">Abmelden</span>
                </a>
                {% else %}
                <a href="{{url_for('bp_auth.login')}}" class="zbtn tooltip"
                        id="userbtn" style="right: 0" >
                    <img style="height: 1.5rem;" src="{{url_for('static', filename='img/login.svg')}}" />
                    <span class="tooltiptext" style="right: 105%;">Anmelden</span>
                </a>
                {% endif %}
            {% endwith %}
        </div>

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="dropdown">
                    {% set msg0 = messages.pop() %}
                    <p class="{{msg0[0]}}"
                            style="background-color: #ebfff6;
                                padding: 0.2rem;">
                        {{ msg0[1] }}
                    </p>
                    <ul class="dropdown-content dropdown-content0"
                        style="position: relative; top: 0;">
                    {% for category, message in messages %}
                      <li class="{{ category }}">{{ message }}</li>
                    {% endfor %}
                    </ul>
                </div>
            {% endif %}
        {% endwith %}

        {% block content %}{% endblock %}
    </main>

    <div class="fixed-footer">
        <div>Copyright &copy; 2020 MT</div>
    </div>
  </body>
</html>
