{% extends "base.html" %}
{% set uplink = url_for('index') %}
{% set uplink_help = "Startseite" %}

{% block title %}Zeugs: Funktionen{% endblock %}

{% block content %}
    <p>Aktuell sind folgende Operationen möglich:
    <p>
    <ul class="modules">
        <li><a href="{{url_for('bp_text_cover.index')}}">Mantelbögen für Textzeugnisse</a></li>
        <li><a href="{{url_for('bp_text.summary')}}">Kontrolllisten für Textzeugnisse</a></li>
        <li><a href="{{url_for('bp_grades.index')}}">Notenzeugnisse erstellen</a></li>
        <li><a href="{{url_for('bp_grades.addgrades', termn='1')}}">(Notentabellen einlesen)</a></li>
        <li><a href="{{url_for('bp_settings.choices')}}">Kurswahltabellen verwalten</a></li>
    </ul>
    <p>Über die Navigation sind Informationen zu den verschiedenen Bereichen
    abrufbar.
    </p>
{% endblock %}
