{% extends "base.html" %}

{% block title %}Zeugs: Willkommen{% endblock %}
{% block imports %}
<style>
    #upbtn { display: none; }
</style>
{% endblock %}

{% block content %}
    <p><strong>Zeugs</strong> unterstützt Sie bei der Erstellung der Zeugnisse.
    </p>
    <p>Hier sollte die Dokumentation abrufbar sein ...
    </p>
    <p>Über die Navigation gelangen Sie zu Informationen über die verschiedenen
    Module. Um mit dem Programm zu arbeiten, müssen Sie sich
    <a href="{{url_for('bp_auth.login')}}">anmelden</a>.
    </p>
{% endblock %}
